
.vs/cpp_learning/v15/.suo
.vs/cpp_learning/v15/Browse.VC.db
.vs/cpp_learning/v15/Browse.VC.opendb
.vs/cpp_learning/v15/ipch/AutoPCH/11201778cb86cfca/MAIN.ipch
Debug/delegate.exe
Debug/delegate.pdb
delegate/Debug/delegate.log
delegate/Debug/delegate.tlog/CL.read.1.tlog
delegate/Debug/delegate.tlog/CL.write.1.tlog
delegate/Debug/delegate.tlog/link.read.1.tlog
delegate/Debug/delegate.tlog/link.write.1.tlog
delegate/Debug/main.obj
delegate/Debug/vc141.idb
delegate/Debug/vc141.pdb
delegate/Debug/vc141.pdb
delegate/Debug/vc141.idb
delegate/Debug/main.obj
delegate/Debug/delegate.tlog/link.write.1.tlog
delegate/Debug/delegate.tlog/link.read.1.tlog
delegate/Debug/delegate.tlog/CL.write.1.tlog
.vs/cpp_learning/v15/.suo
.vs/cpp_learning/v15/Browse.VC.db
.vs/cpp_learning/v15/Browse.VC.db
*.db
.vs/cpp_learning/v15/Browse.VC.db
.vs/cpp_learning/v15/Browse.VC.db
*.pdb
.vs/cpp_learning/v15/.suo
.vs/cpp_learning/v15/.suo
delegate/Debug/vc141.pdb
delegate/Debug/vc141.idb
delegate/Debug/main.obj
delegate/Debug/func_signature.obj
delegate/Debug/delegate.Build.CppClean.log
Debug/delegate.pdb
Debug/delegate.ilk
Debug/delegate.exe
.vs/cpp_learning/v15/ipch/AutoPCH/11201778cb86cfca/MAIN.ipch
.vs/cpp_learning/v15/Browse.VC.db
.vs/cpp_learning/v15/.suo
.vs/cpp_learning/v15/Browse.VC.db
Debug/delegate.exe
Debug/delegate.ilk
Debug/delegate.pdb
delegate/Debug/delegate.Build.CppClean.log
delegate/Debug/delegate.tlog/link.read.1.tlog
delegate/Debug/func_signature.obj
delegate/Debug/main.obj
delegate/Debug/vc141.idb
delegate/Debug/vc141.pdb
.vs/cpp_learning/v15/.suo
